.input__div {
  width: 301px;
  height: 85px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 14px;

  label {
    font-size: 12px;
    font-weight: 400;
    color: #f8f9fa;
  }

  input {
    width: 266px;
    padding: 10px 16px;
    border-radius: 4px;
    border: 1px solid #343b41;
    background-color: #343b41;
    color: #868e96;
  }
}

@media (max-width: 320px) {
  .input__div {
    width: 250px; 
    input {
      width: 216px;
    }
  }
}